* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel {
    width: 80%;
    height: 90%;
    /* border: 1px solid red; */
    display: flex;
    position: relative;
    overflow: hidden;
}

.carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
    opacity: 1;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 195px;
}

.next {
    right: 195px;
}